<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Brand</th>
      <th>Model</th>
      <th>AccelSec</th>
      <th>TopSpeed_KmH</th>
      <th>Range_Km</th>
      <th>Efficiency_WhKm</th>
      <th>FastCharge_KmH</th>
      <th>RapidCharge</th>
      <th>PowerTrain</th>
      <th>PlugType</th>
      <th>BodyStyle</th>
      <th>Segment</th>
      <th>Seats</th>
      <th>PriceUSD</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Tesla</td>
      <td>Model 3 Long Range Dual Motor</td>
      <td>4</td>
      <td>233</td>
      <td>450</td>
      <td>161</td>
      <td>940.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>Sedan</td>
      <td>D</td>
      <td>5</td>
      <td>66576.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Volkswagen</td>
      <td>ID.3 Pure</td>
      <td>10</td>
      <td>160</td>
      <td>270</td>
      <td>167</td>
      <td>250.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>C</td>
      <td>5</td>
      <td>36000.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Polestar</td>
      <td>2</td>
      <td>4</td>
      <td>210</td>
      <td>400</td>
      <td>181</td>
      <td>620.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>Liftback</td>
      <td>D</td>
      <td>5</td>
      <td>67728.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>BMW</td>
      <td>iX3</td>
      <td>6</td>
      <td>180</td>
      <td>360</td>
      <td>206</td>
      <td>560.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>D</td>
      <td>5</td>
      <td>81648.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Honda</td>
      <td>e</td>
      <td>9</td>
      <td>145</td>
      <td>170</td>
      <td>168</td>
      <td>190.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>B</td>
      <td>4</td>
      <td>39596.4</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Lucid</td>
      <td>Air</td>
      <td>2</td>
      <td>250</td>
      <td>610</td>
      <td>180</td>
      <td>620.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>Sedan</td>
      <td>F</td>
      <td>5</td>
      <td>126000.0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Volkswagen</td>
      <td>e-Golf</td>
      <td>9</td>
      <td>150</td>
      <td>190</td>
      <td>168</td>
      <td>220.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>C</td>
      <td>5</td>
      <td>38280.0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Peugeot</td>
      <td>e-208</td>
      <td>8</td>
      <td>150</td>
      <td>275</td>
      <td>164</td>
      <td>420.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>B</td>
      <td>5</td>
      <td>35618.4</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Tesla</td>
      <td>Model 3 Standard Range Plus</td>
      <td>5</td>
      <td>225</td>
      <td>310</td>
      <td>153</td>
      <td>650.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>Sedan</td>
      <td>D</td>
      <td>5</td>
      <td>55656.0</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Audi</td>
      <td>Q4 e-tron</td>
      <td>6</td>
      <td>180</td>
      <td>400</td>
      <td>193</td>
      <td>540.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>D</td>
      <td>5</td>
      <td>66000.0</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Mercedes</td>
      <td>EQC 400 4MATIC</td>
      <td>5</td>
      <td>180</td>
      <td>370</td>
      <td>216</td>
      <td>440.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>D</td>
      <td>5</td>
      <td>83380.8</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Nissan</td>
      <td>Leaf</td>
      <td>7</td>
      <td>144</td>
      <td>220</td>
      <td>164</td>
      <td>230.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CHAdeMO</td>
      <td>Hatchback</td>
      <td>C</td>
      <td>5</td>
      <td>35080.8</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Hyundai</td>
      <td>Kona Electric 64 kWh</td>
      <td>7</td>
      <td>167</td>
      <td>400</td>
      <td>160</td>
      <td>380.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>B</td>
      <td>5</td>
      <td>48954.0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>BMW</td>
      <td>i4</td>
      <td>4</td>
      <td>200</td>
      <td>450</td>
      <td>178</td>
      <td>650.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>Sedan</td>
      <td>D</td>
      <td>5</td>
      <td>78000.0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Hyundai</td>
      <td>IONIQ Electric</td>
      <td>9</td>
      <td>165</td>
      <td>250</td>
      <td>153</td>
      <td>210.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>Liftback</td>
      <td>C</td>
      <td>5</td>
      <td>41350.8</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Volkswagen</td>
      <td>ID.3 Pro S</td>
      <td>7</td>
      <td>160</td>
      <td>440</td>
      <td>175</td>
      <td>590.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>C</td>
      <td>4</td>
      <td>49123.2</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Porsche</td>
      <td>Taycan Turbo S</td>
      <td>2</td>
      <td>260</td>
      <td>375</td>
      <td>223</td>
      <td>780.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>Sedan</td>
      <td>F</td>
      <td>4</td>
      <td>216937.2</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Volkswagen</td>
      <td>e-Up!</td>
      <td>11</td>
      <td>130</td>
      <td>195</td>
      <td>166</td>
      <td>170.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>A</td>
      <td>4</td>
      <td>25705.2</td>
    </tr>
    <tr>
      <th>18</th>
      <td>MG</td>
      <td>ZS EV</td>
      <td>8</td>
      <td>140</td>
      <td>220</td>
      <td>193</td>
      <td>260.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>B</td>
      <td>5</td>
      <td>36000.0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Mini</td>
      <td>Cooper SE</td>
      <td>7</td>
      <td>150</td>
      <td>185</td>
      <td>156</td>
      <td>260.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>B</td>
      <td>4</td>
      <td>38017.2</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Opel</td>
      <td>Corsa-e</td>
      <td>8</td>
      <td>150</td>
      <td>275</td>
      <td>164</td>
      <td>420.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>B</td>
      <td>5</td>
      <td>34975.2</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Tesla</td>
      <td>Model Y Long Range Dual Motor</td>
      <td>5</td>
      <td>217</td>
      <td>425</td>
      <td>171</td>
      <td>930.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>D</td>
      <td>7</td>
      <td>70344.0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Skoda</td>
      <td>Enyaq iV 50</td>
      <td>10</td>
      <td>160</td>
      <td>290</td>
      <td>179</td>
      <td>230.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>C</td>
      <td>5</td>
      <td>42000.0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Audi</td>
      <td>e-tron GT</td>
      <td>3</td>
      <td>240</td>
      <td>425</td>
      <td>197</td>
      <td>850.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>Sedan</td>
      <td>F</td>
      <td>4</td>
      <td>150000.0</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Tesla</td>
      <td>Model 3 Long Range Performance</td>
      <td>3</td>
      <td>261</td>
      <td>435</td>
      <td>167</td>
      <td>910.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>Sedan</td>
      <td>D</td>
      <td>5</td>
      <td>73776.0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Volkswagen</td>
      <td>ID.4</td>
      <td>7</td>
      <td>160</td>
      <td>420</td>
      <td>183</td>
      <td>560.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>C</td>
      <td>5</td>
      <td>54000.0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Volkswagen</td>
      <td>ID.3 Pro</td>
      <td>9</td>
      <td>160</td>
      <td>350</td>
      <td>166</td>
      <td>490.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>C</td>
      <td>5</td>
      <td>39600.0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Volvo</td>
      <td>XC40 P8 AWD Recharge</td>
      <td>4</td>
      <td>180</td>
      <td>375</td>
      <td>200</td>
      <td>470.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>C</td>
      <td>5</td>
      <td>72524.4</td>
    </tr>
    <tr>
      <th>28</th>
      <td>BMW</td>
      <td>i3 120 Ah</td>
      <td>7</td>
      <td>150</td>
      <td>235</td>
      <td>161</td>
      <td>270.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>B</td>
      <td>4</td>
      <td>45620.4</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Peugeot</td>
      <td>e-2008 SUV</td>
      <td>8</td>
      <td>150</td>
      <td>250</td>
      <td>180</td>
      <td>380.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>B</td>
      <td>5</td>
      <td>41233.2</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Audi</td>
      <td>e-tron 50 quattro</td>
      <td>6</td>
      <td>190</td>
      <td>280</td>
      <td>231</td>
      <td>450.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>E</td>
      <td>5</td>
      <td>80829.6</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Kia</td>
      <td>e-Niro 64 kWh</td>
      <td>7</td>
      <td>167</td>
      <td>370</td>
      <td>173</td>
      <td>350.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>C</td>
      <td>5</td>
      <td>45726.0</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Renault</td>
      <td>Zoe ZE50 R110</td>
      <td>11</td>
      <td>135</td>
      <td>315</td>
      <td>165</td>
      <td>230.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>B</td>
      <td>5</td>
      <td>37420.8</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Tesla</td>
      <td>Cybertruck Tri Motor</td>
      <td>3</td>
      <td>210</td>
      <td>750</td>
      <td>267</td>
      <td>710.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>Pickup</td>
      <td>N</td>
      <td>6</td>
      <td>90000.0</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Mazda</td>
      <td>MX-30</td>
      <td>9</td>
      <td>150</td>
      <td>180</td>
      <td>178</td>
      <td>240.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>C</td>
      <td>5</td>
      <td>39175.2</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Nissan</td>
      <td>Leaf e+</td>
      <td>7</td>
      <td>157</td>
      <td>325</td>
      <td>172</td>
      <td>390.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CHAdeMO</td>
      <td>Hatchback</td>
      <td>C</td>
      <td>5</td>
      <td>44684.4</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Lexus</td>
      <td>UX 300e</td>
      <td>7</td>
      <td>160</td>
      <td>270</td>
      <td>193</td>
      <td>190.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CHAdeMO</td>
      <td>SUV</td>
      <td>C</td>
      <td>5</td>
      <td>60000.0</td>
    </tr>
    <tr>
      <th>37</th>
      <td>CUPRA</td>
      <td>el-Born</td>
      <td>6</td>
      <td>160</td>
      <td>425</td>
      <td>181</td>
      <td>570.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>C</td>
      <td>4</td>
      <td>54000.0</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Renault</td>
      <td>Zoe ZE50 R135</td>
      <td>9</td>
      <td>140</td>
      <td>310</td>
      <td>168</td>
      <td>230.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>B</td>
      <td>5</td>
      <td>39759.6</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Mercedes</td>
      <td>EQA</td>
      <td>5</td>
      <td>200</td>
      <td>350</td>
      <td>171</td>
      <td>440.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>C</td>
      <td>5</td>
      <td>54000.0</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Tesla</td>
      <td>Model S Long Range</td>
      <td>3</td>
      <td>250</td>
      <td>515</td>
      <td>184</td>
      <td>560.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2</td>
      <td>Liftback</td>
      <td>F</td>
      <td>5</td>
      <td>95988.0</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Hyundai</td>
      <td>Kona Electric 39 kWh</td>
      <td>9</td>
      <td>155</td>
      <td>255</td>
      <td>154</td>
      <td>210.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>B</td>
      <td>5</td>
      <td>40765.2</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Audi</td>
      <td>e-tron Sportback 55 quattro</td>
      <td>5</td>
      <td>200</td>
      <td>380</td>
      <td>228</td>
      <td>610.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>E</td>
      <td>5</td>
      <td>97966.8</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Skoda</td>
      <td>CITIGOe iV</td>
      <td>12</td>
      <td>130</td>
      <td>195</td>
      <td>166</td>
      <td>170.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>A</td>
      <td>4</td>
      <td>29440.8</td>
    </tr>
    <tr>
      <th>44</th>
      <td>SEAT</td>
      <td>Mii Electric</td>
      <td>12</td>
      <td>130</td>
      <td>195</td>
      <td>166</td>
      <td>170.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>A</td>
      <td>4</td>
      <td>24154.8</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Kia</td>
      <td>e-Soul 64 kWh</td>
      <td>7</td>
      <td>167</td>
      <td>365</td>
      <td>175</td>
      <td>340.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>B</td>
      <td>5</td>
      <td>44204.4</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Opel</td>
      <td>Ampera-e</td>
      <td>7</td>
      <td>150</td>
      <td>335</td>
      <td>173</td>
      <td>210.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>MPV</td>
      <td>B</td>
      <td>5</td>
      <td>50287.2</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Porsche</td>
      <td>Taycan 4S</td>
      <td>4</td>
      <td>250</td>
      <td>365</td>
      <td>195</td>
      <td>730.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>Sedan</td>
      <td>F</td>
      <td>4</td>
      <td>123534.0</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Lightyear</td>
      <td>One</td>
      <td>10</td>
      <td>150</td>
      <td>575</td>
      <td>104</td>
      <td>540.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>Liftback</td>
      <td>F</td>
      <td>5</td>
      <td>178800.0</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Aiways</td>
      <td>U5</td>
      <td>9</td>
      <td>150</td>
      <td>335</td>
      <td>188</td>
      <td>350.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>C</td>
      <td>5</td>
      <td>43268.4</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Audi</td>
      <td>e-tron 55 quattro</td>
      <td>5</td>
      <td>200</td>
      <td>365</td>
      <td>237</td>
      <td>590.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>E</td>
      <td>5</td>
      <td>95334.0</td>
    </tr>
    <tr>
      <th>51</th>
      <td>Tesla</td>
      <td>Roadster</td>
      <td>2</td>
      <td>410</td>
      <td>970</td>
      <td>206</td>
      <td>920.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>Cabrio</td>
      <td>S</td>
      <td>4</td>
      <td>258000.0</td>
    </tr>
    <tr>
      <th>52</th>
      <td>Opel</td>
      <td>Mokka-e</td>
      <td>8</td>
      <td>150</td>
      <td>255</td>
      <td>176</td>
      <td>390.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>B</td>
      <td>5</td>
      <td>42000.0</td>
    </tr>
    <tr>
      <th>53</th>
      <td>Skoda</td>
      <td>Enyaq iV 80</td>
      <td>8</td>
      <td>160</td>
      <td>420</td>
      <td>183</td>
      <td>560.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>C</td>
      <td>5</td>
      <td>48000.0</td>
    </tr>
    <tr>
      <th>54</th>
      <td>Tesla</td>
      <td>Model X Long Range</td>
      <td>4</td>
      <td>250</td>
      <td>450</td>
      <td>211</td>
      <td>490.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2</td>
      <td>SUV</td>
      <td>F</td>
      <td>7</td>
      <td>103188.0</td>
    </tr>
    <tr>
      <th>55</th>
      <td>Honda</td>
      <td>e Advance</td>
      <td>8</td>
      <td>145</td>
      <td>170</td>
      <td>168</td>
      <td>190.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>B</td>
      <td>4</td>
      <td>43105.2</td>
    </tr>
    <tr>
      <th>56</th>
      <td>DS</td>
      <td>3 Crossback E-Tense</td>
      <td>8</td>
      <td>150</td>
      <td>250</td>
      <td>180</td>
      <td>380.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>B</td>
      <td>5</td>
      <td>44906.4</td>
    </tr>
    <tr>
      <th>57</th>
      <td>Renault</td>
      <td>Twingo ZE</td>
      <td>12</td>
      <td>135</td>
      <td>130</td>
      <td>164</td>
      <td>NaN</td>
      <td>No</td>
      <td>RWD</td>
      <td>Type 2</td>
      <td>Hatchback</td>
      <td>A</td>
      <td>4</td>
      <td>29748.0</td>
    </tr>
    <tr>
      <th>58</th>
      <td>Citroen</td>
      <td>e-C4</td>
      <td>9</td>
      <td>150</td>
      <td>250</td>
      <td>180</td>
      <td>380.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>C</td>
      <td>5</td>
      <td>48000.0</td>
    </tr>
    <tr>
      <th>59</th>
      <td>Tesla</td>
      <td>Model S Performance</td>
      <td>2</td>
      <td>261</td>
      <td>505</td>
      <td>188</td>
      <td>550.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2</td>
      <td>Liftback</td>
      <td>F</td>
      <td>5</td>
      <td>116388.0</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Renault</td>
      <td>Zoe ZE40 R110</td>
      <td>11</td>
      <td>135</td>
      <td>255</td>
      <td>161</td>
      <td>230.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>B</td>
      <td>5</td>
      <td>35080.8</td>
    </tr>
    <tr>
      <th>61</th>
      <td>Tesla</td>
      <td>Model Y Long Range Performance</td>
      <td>3</td>
      <td>241</td>
      <td>410</td>
      <td>177</td>
      <td>900.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>D</td>
      <td>7</td>
      <td>78744.0</td>
    </tr>
    <tr>
      <th>62</th>
      <td>Nissan</td>
      <td>Ariya 87kWh</td>
      <td>7</td>
      <td>160</td>
      <td>440</td>
      <td>198</td>
      <td>520.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>C</td>
      <td>5</td>
      <td>60000.0</td>
    </tr>
    <tr>
      <th>63</th>
      <td>Jaguar</td>
      <td>I-Pace</td>
      <td>4</td>
      <td>200</td>
      <td>365</td>
      <td>232</td>
      <td>340.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>E</td>
      <td>5</td>
      <td>90421.2</td>
    </tr>
    <tr>
      <th>64</th>
      <td>Ford</td>
      <td>Mustang Mach-E ER RWD</td>
      <td>7</td>
      <td>180</td>
      <td>450</td>
      <td>200</td>
      <td>430.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>D</td>
      <td>5</td>
      <td>65370.0</td>
    </tr>
    <tr>
      <th>65</th>
      <td>Porsche</td>
      <td>Taycan 4S Plus</td>
      <td>4</td>
      <td>250</td>
      <td>425</td>
      <td>197</td>
      <td>890.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>Sedan</td>
      <td>F</td>
      <td>4</td>
      <td>131162.4</td>
    </tr>
    <tr>
      <th>66</th>
      <td>Nissan</td>
      <td>e-NV200 Evalia</td>
      <td>14</td>
      <td>123</td>
      <td>190</td>
      <td>200</td>
      <td>190.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 1 CHAdeMO</td>
      <td>SPV</td>
      <td>N</td>
      <td>7</td>
      <td>39895.2</td>
    </tr>
    <tr>
      <th>67</th>
      <td>Tesla</td>
      <td>Cybertruck Dual Motor</td>
      <td>5</td>
      <td>190</td>
      <td>460</td>
      <td>261</td>
      <td>710.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>Pickup</td>
      <td>N</td>
      <td>6</td>
      <td>66000.0</td>
    </tr>
    <tr>
      <th>68</th>
      <td>Renault</td>
      <td>Kangoo Maxi ZE 33</td>
      <td>22</td>
      <td>130</td>
      <td>160</td>
      <td>194</td>
      <td>NaN</td>
      <td>No</td>
      <td>FWD</td>
      <td>Type 2</td>
      <td>SPV</td>
      <td>N</td>
      <td>5</td>
      <td>45600.0</td>
    </tr>
    <tr>
      <th>69</th>
      <td>Ford</td>
      <td>Mustang Mach-E ER AWD</td>
      <td>6</td>
      <td>180</td>
      <td>430</td>
      <td>209</td>
      <td>410.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>D</td>
      <td>5</td>
      <td>75480.0</td>
    </tr>
    <tr>
      <th>70</th>
      <td>BMW</td>
      <td>i3s 120 Ah</td>
      <td>6</td>
      <td>160</td>
      <td>230</td>
      <td>165</td>
      <td>260.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>B</td>
      <td>4</td>
      <td>49831.2</td>
    </tr>
    <tr>
      <th>71</th>
      <td>Skoda</td>
      <td>Enyaq iV 80X</td>
      <td>7</td>
      <td>160</td>
      <td>400</td>
      <td>193</td>
      <td>540.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>C</td>
      <td>5</td>
      <td>54000.0</td>
    </tr>
    <tr>
      <th>72</th>
      <td>Porsche</td>
      <td>Taycan Cross Turismo</td>
      <td>3</td>
      <td>250</td>
      <td>385</td>
      <td>217</td>
      <td>770.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>Station</td>
      <td>F</td>
      <td>4</td>
      <td>180000.0</td>
    </tr>
    <tr>
      <th>73</th>
      <td>Byton</td>
      <td>M-Byte 95 kWh 4WD</td>
      <td>5</td>
      <td>190</td>
      <td>390</td>
      <td>244</td>
      <td>460.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>E</td>
      <td>5</td>
      <td>76800.0</td>
    </tr>
    <tr>
      <th>74</th>
      <td>Sono</td>
      <td>Sion</td>
      <td>9</td>
      <td>140</td>
      <td>225</td>
      <td>156</td>
      <td>270.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>C</td>
      <td>5</td>
      <td>30600.0</td>
    </tr>
    <tr>
      <th>75</th>
      <td>Kia</td>
      <td>e-Niro 39 kWh</td>
      <td>9</td>
      <td>155</td>
      <td>235</td>
      <td>167</td>
      <td>230.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>C</td>
      <td>5</td>
      <td>41280.0</td>
    </tr>
    <tr>
      <th>76</th>
      <td>Audi</td>
      <td>Q4 Sportback e-tron</td>
      <td>6</td>
      <td>180</td>
      <td>410</td>
      <td>188</td>
      <td>550.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>D</td>
      <td>5</td>
      <td>69000.0</td>
    </tr>
    <tr>
      <th>77</th>
      <td>Smart</td>
      <td>EQ forfour</td>
      <td>12</td>
      <td>130</td>
      <td>95</td>
      <td>176</td>
      <td>NaN</td>
      <td>No</td>
      <td>RWD</td>
      <td>Type 2</td>
      <td>Hatchback</td>
      <td>A</td>
      <td>4</td>
      <td>26436.0</td>
    </tr>
    <tr>
      <th>78</th>
      <td>Ford</td>
      <td>Mustang Mach-E SR AWD</td>
      <td>6</td>
      <td>180</td>
      <td>340</td>
      <td>206</td>
      <td>360.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>D</td>
      <td>5</td>
      <td>64800.0</td>
    </tr>
    <tr>
      <th>79</th>
      <td>Porsche</td>
      <td>Taycan Turbo</td>
      <td>3</td>
      <td>260</td>
      <td>390</td>
      <td>215</td>
      <td>810.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>Sedan</td>
      <td>F</td>
      <td>4</td>
      <td>177961.2</td>
    </tr>
    <tr>
      <th>80</th>
      <td>Volkswagen</td>
      <td>ID.3 1st</td>
      <td>7</td>
      <td>160</td>
      <td>340</td>
      <td>171</td>
      <td>470.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>C</td>
      <td>5</td>
      <td>46784.4</td>
    </tr>
    <tr>
      <th>81</th>
      <td>Tesla</td>
      <td>Model X Performance</td>
      <td>2</td>
      <td>250</td>
      <td>440</td>
      <td>216</td>
      <td>480.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2</td>
      <td>SUV</td>
      <td>F</td>
      <td>7</td>
      <td>123588.0</td>
    </tr>
    <tr>
      <th>82</th>
      <td>Smart</td>
      <td>EQ fortwo coupe</td>
      <td>11</td>
      <td>130</td>
      <td>100</td>
      <td>167</td>
      <td>NaN</td>
      <td>No</td>
      <td>RWD</td>
      <td>Type 2</td>
      <td>Hatchback</td>
      <td>A</td>
      <td>2</td>
      <td>25664.4</td>
    </tr>
    <tr>
      <th>83</th>
      <td>Ford</td>
      <td>Mustang Mach-E SR RWD</td>
      <td>6</td>
      <td>180</td>
      <td>360</td>
      <td>194</td>
      <td>380.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>D</td>
      <td>5</td>
      <td>56280.0</td>
    </tr>
    <tr>
      <th>84</th>
      <td>Mercedes</td>
      <td>EQV 300 Long</td>
      <td>10</td>
      <td>140</td>
      <td>330</td>
      <td>273</td>
      <td>290.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>SPV</td>
      <td>N</td>
      <td>7</td>
      <td>84757.2</td>
    </tr>
    <tr>
      <th>85</th>
      <td>Fiat</td>
      <td>500e Hatchback</td>
      <td>9</td>
      <td>150</td>
      <td>250</td>
      <td>168</td>
      <td>330.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>B</td>
      <td>4</td>
      <td>41880.0</td>
    </tr>
    <tr>
      <th>86</th>
      <td>Tesla</td>
      <td>Cybertruck Single Motor</td>
      <td>7</td>
      <td>180</td>
      <td>390</td>
      <td>256</td>
      <td>740.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>Pickup</td>
      <td>N</td>
      <td>6</td>
      <td>54000.0</td>
    </tr>
    <tr>
      <th>87</th>
      <td>Audi</td>
      <td>e-tron Sportback 50 quattro</td>
      <td>6</td>
      <td>190</td>
      <td>295</td>
      <td>219</td>
      <td>470.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>E</td>
      <td>5</td>
      <td>83461.2</td>
    </tr>
    <tr>
      <th>88</th>
      <td>Skoda</td>
      <td>Enyaq iV vRS</td>
      <td>6</td>
      <td>180</td>
      <td>400</td>
      <td>193</td>
      <td>540.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>C</td>
      <td>5</td>
      <td>57000.0</td>
    </tr>
    <tr>
      <th>89</th>
      <td>Skoda</td>
      <td>Enyaq iV 60</td>
      <td>9</td>
      <td>160</td>
      <td>320</td>
      <td>181</td>
      <td>440.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>C</td>
      <td>5</td>
      <td>45000.0</td>
    </tr>
    <tr>
      <th>90</th>
      <td>Audi</td>
      <td>e-tron S 55 quattro</td>
      <td>4</td>
      <td>210</td>
      <td>320</td>
      <td>270</td>
      <td>510.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>E</td>
      <td>5</td>
      <td>112560.0</td>
    </tr>
    <tr>
      <th>91</th>
      <td>Smart</td>
      <td>EQ fortwo cabrio</td>
      <td>11</td>
      <td>130</td>
      <td>95</td>
      <td>176</td>
      <td>NaN</td>
      <td>No</td>
      <td>RWD</td>
      <td>Type 2</td>
      <td>Cabrio</td>
      <td>A</td>
      <td>2</td>
      <td>29478.0</td>
    </tr>
    <tr>
      <th>92</th>
      <td>Kia</td>
      <td>e-Soul 64 kWh</td>
      <td>7</td>
      <td>167</td>
      <td>365</td>
      <td>175</td>
      <td>320.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>B</td>
      <td>5</td>
      <td>44204.4</td>
    </tr>
    <tr>
      <th>93</th>
      <td>Nissan</td>
      <td>Ariya e-4ORCE 87kWh</td>
      <td>5</td>
      <td>200</td>
      <td>420</td>
      <td>207</td>
      <td>500.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>C</td>
      <td>5</td>
      <td>69000.0</td>
    </tr>
    <tr>
      <th>94</th>
      <td>Fiat</td>
      <td>500e Convertible</td>
      <td>9</td>
      <td>150</td>
      <td>250</td>
      <td>168</td>
      <td>330.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>Cabrio</td>
      <td>B</td>
      <td>4</td>
      <td>45480.0</td>
    </tr>
    <tr>
      <th>95</th>
      <td>Volkswagen</td>
      <td>ID.3 Pro Performance</td>
      <td>7</td>
      <td>160</td>
      <td>340</td>
      <td>171</td>
      <td>470.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>C</td>
      <td>5</td>
      <td>42690.0</td>
    </tr>
    <tr>
      <th>96</th>
      <td>Kia</td>
      <td>e-Soul 39 kWh</td>
      <td>9</td>
      <td>157</td>
      <td>230</td>
      <td>170</td>
      <td>220.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>B</td>
      <td>5</td>
      <td>39759.6</td>
    </tr>
    <tr>
      <th>97</th>
      <td>Byton</td>
      <td>M-Byte 72 kWh 2WD</td>
      <td>7</td>
      <td>190</td>
      <td>325</td>
      <td>222</td>
      <td>420.0</td>
      <td>Yes</td>
      <td>RWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>E</td>
      <td>5</td>
      <td>64200.0</td>
    </tr>
    <tr>
      <th>98</th>
      <td>Nissan</td>
      <td>Ariya 63kWh</td>
      <td>7</td>
      <td>160</td>
      <td>330</td>
      <td>191</td>
      <td>440.0</td>
      <td>Yes</td>
      <td>FWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>C</td>
      <td>5</td>
      <td>54000.0</td>
    </tr>
    <tr>
      <th>99</th>
      <td>Audi</td>
      <td>e-tron S Sportback 55 quattro</td>
      <td>4</td>
      <td>210</td>
      <td>335</td>
      <td>258</td>
      <td>540.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>E</td>
      <td>5</td>
      <td>115260.0</td>
    </tr>
    <tr>
      <th>100</th>
      <td>Nissan</td>
      <td>Ariya e-4ORCE 63kWh</td>
      <td>5</td>
      <td>200</td>
      <td>325</td>
      <td>194</td>
      <td>440.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>C</td>
      <td>5</td>
      <td>60000.0</td>
    </tr>
    <tr>
      <th>101</th>
      <td>Nissan</td>
      <td>Ariya e-4ORCE 87kWh Performance</td>
      <td>5</td>
      <td>200</td>
      <td>375</td>
      <td>232</td>
      <td>450.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>Hatchback</td>
      <td>C</td>
      <td>5</td>
      <td>78000.0</td>
    </tr>
    <tr>
      <th>102</th>
      <td>Byton</td>
      <td>M-Byte 95 kWh 2WD</td>
      <td>7</td>
      <td>190</td>
      <td>400</td>
      <td>238</td>
      <td>480.0</td>
      <td>Yes</td>
      <td>AWD</td>
      <td>Type 2 CCS</td>
      <td>SUV</td>
      <td>E</td>
      <td>5</td>
      <td>74400.0</td>
    </tr>
  </tbody>
</table>