<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PriceUSD</th>
      <th>TopSpeed_KmH</th>
      <th>Range_Km</th>
    </tr>
    <tr>
      <th>Model</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Roadster</th>
      <td>258000.0</td>
      <td>410</td>
      <td>970</td>
    </tr>
    <tr>
      <th>Model 3 Long Range Performance</th>
      <td>73776.0</td>
      <td>261</td>
      <td>435</td>
    </tr>
    <tr>
      <th>Model S Performance</th>
      <td>116388.0</td>
      <td>261</td>
      <td>505</td>
    </tr>
    <tr>
      <th>Taycan Turbo S</th>
      <td>216937.2</td>
      <td>260</td>
      <td>375</td>
    </tr>
    <tr>
      <th>Taycan Turbo</th>
      <td>177961.2</td>
      <td>260</td>
      <td>390</td>
    </tr>
  </tbody>
</table>