<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PriceUSD</th>
      <th>TopSpeed_KmH</th>
      <th>Range_Km</th>
    </tr>
    <tr>
      <th>Model</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Roadster</th>
      <td>258000.0</td>
      <td>410</td>
      <td>970</td>
    </tr>
    <tr>
      <th>Taycan Turbo S</th>
      <td>216937.2</td>
      <td>260</td>
      <td>375</td>
    </tr>
    <tr>
      <th>Taycan Cross Turismo</th>
      <td>180000.0</td>
      <td>250</td>
      <td>385</td>
    </tr>
    <tr>
      <th>One</th>
      <td>178800.0</td>
      <td>150</td>
      <td>575</td>
    </tr>
    <tr>
      <th>Taycan Turbo</th>
      <td>177961.2</td>
      <td>260</td>
      <td>390</td>
    </tr>
    <tr>
      <th>e-tron GT</th>
      <td>150000.0</td>
      <td>240</td>
      <td>425</td>
    </tr>
    <tr>
      <th>Taycan 4S Plus</th>
      <td>131162.4</td>
      <td>250</td>
      <td>425</td>
    </tr>
    <tr>
      <th>Air</th>
      <td>126000.0</td>
      <td>250</td>
      <td>610</td>
    </tr>
    <tr>
      <th>Model X Performance</th>
      <td>123588.0</td>
      <td>250</td>
      <td>440</td>
    </tr>
    <tr>
      <th>Taycan 4S</th>
      <td>123534.0</td>
      <td>250</td>
      <td>365</td>
    </tr>
    <tr>
      <th>Model S Performance</th>
      <td>116388.0</td>
      <td>261</td>
      <td>505</td>
    </tr>
    <tr>
      <th>e-tron S Sportback 55 quattro</th>
      <td>115260.0</td>
      <td>210</td>
      <td>335</td>
    </tr>
    <tr>
      <th>e-tron S 55 quattro</th>
      <td>112560.0</td>
      <td>210</td>
      <td>320</td>
    </tr>
    <tr>
      <th>Model X Long Range</th>
      <td>103188.0</td>
      <td>250</td>
      <td>450</td>
    </tr>
    <tr>
      <th>e-tron Sportback 55 quattro</th>
      <td>97966.8</td>
      <td>200</td>
      <td>380</td>
    </tr>
    <tr>
      <th>Model S Long Range</th>
      <td>95988.0</td>
      <td>250</td>
      <td>515</td>
    </tr>
    <tr>
      <th>e-tron 55 quattro</th>
      <td>95334.0</td>
      <td>200</td>
      <td>365</td>
    </tr>
    <tr>
      <th>I-Pace</th>
      <td>90421.2</td>
      <td>200</td>
      <td>365</td>
    </tr>
    <tr>
      <th>Cybertruck Tri Motor</th>
      <td>90000.0</td>
      <td>210</td>
      <td>750</td>
    </tr>
    <tr>
      <th>EQV 300 Long</th>
      <td>84757.2</td>
      <td>140</td>
      <td>330</td>
    </tr>
  </tbody>
</table>