<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>PriceUSD</th>
      <th>TopSpeed_KmH</th>
      <th>Range_Km</th>
    </tr>
    <tr>
      <th>Model</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Roadster</th>
      <td>258000.0</td>
      <td>410</td>
      <td>970</td>
    </tr>
    <tr>
      <th>Cybertruck Tri Motor</th>
      <td>90000.0</td>
      <td>210</td>
      <td>750</td>
    </tr>
    <tr>
      <th>Air</th>
      <td>126000.0</td>
      <td>250</td>
      <td>610</td>
    </tr>
    <tr>
      <th>One</th>
      <td>178800.0</td>
      <td>150</td>
      <td>575</td>
    </tr>
    <tr>
      <th>Model S Long Range</th>
      <td>95988.0</td>
      <td>250</td>
      <td>515</td>
    </tr>
    <tr>
      <th>Model S Performance</th>
      <td>116388.0</td>
      <td>261</td>
      <td>505</td>
    </tr>
    <tr>
      <th>Cybertruck Dual Motor</th>
      <td>66000.0</td>
      <td>190</td>
      <td>460</td>
    </tr>
    <tr>
      <th>Model 3 Long Range Dual Motor</th>
      <td>66576.0</td>
      <td>233</td>
      <td>450</td>
    </tr>
    <tr>
      <th>Mustang Mach-E ER RWD</th>
      <td>65370.0</td>
      <td>180</td>
      <td>450</td>
    </tr>
    <tr>
      <th>Model X Long Range</th>
      <td>103188.0</td>
      <td>250</td>
      <td>450</td>
    </tr>
    <tr>
      <th>i4</th>
      <td>78000.0</td>
      <td>200</td>
      <td>450</td>
    </tr>
    <tr>
      <th>Model X Performance</th>
      <td>123588.0</td>
      <td>250</td>
      <td>440</td>
    </tr>
    <tr>
      <th>Ariya 87kWh</th>
      <td>60000.0</td>
      <td>160</td>
      <td>440</td>
    </tr>
    <tr>
      <th>ID.3 Pro S</th>
      <td>49123.2</td>
      <td>160</td>
      <td>440</td>
    </tr>
    <tr>
      <th>Model 3 Long Range Performance</th>
      <td>73776.0</td>
      <td>261</td>
      <td>435</td>
    </tr>
    <tr>
      <th>Mustang Mach-E ER AWD</th>
      <td>75480.0</td>
      <td>180</td>
      <td>430</td>
    </tr>
    <tr>
      <th>el-Born</th>
      <td>54000.0</td>
      <td>160</td>
      <td>425</td>
    </tr>
    <tr>
      <th>Taycan 4S Plus</th>
      <td>131162.4</td>
      <td>250</td>
      <td>425</td>
    </tr>
    <tr>
      <th>Model Y Long Range Dual Motor</th>
      <td>70344.0</td>
      <td>217</td>
      <td>425</td>
    </tr>
    <tr>
      <th>e-tron GT</th>
      <td>150000.0</td>
      <td>240</td>
      <td>425</td>
    </tr>
    <tr>
      <th>Enyaq iV 80</th>
      <td>48000.0</td>
      <td>160</td>
      <td>420</td>
    </tr>
    <tr>
      <th>ID.4</th>
      <td>54000.0</td>
      <td>160</td>
      <td>420</td>
    </tr>
    <tr>
      <th>Ariya e-4ORCE 87kWh</th>
      <td>69000.0</td>
      <td>200</td>
      <td>420</td>
    </tr>
    <tr>
      <th>Q4 Sportback e-tron</th>
      <td>69000.0</td>
      <td>180</td>
      <td>410</td>
    </tr>
    <tr>
      <th>Model Y Long Range Performance</th>
      <td>78744.0</td>
      <td>241</td>
      <td>410</td>
    </tr>
    <tr>
      <th>M-Byte 95 kWh 2WD</th>
      <td>74400.0</td>
      <td>190</td>
      <td>400</td>
    </tr>
    <tr>
      <th>Kona Electric 64 kWh</th>
      <td>48954.0</td>
      <td>167</td>
      <td>400</td>
    </tr>
    <tr>
      <th>Q4 e-tron</th>
      <td>66000.0</td>
      <td>180</td>
      <td>400</td>
    </tr>
    <tr>
      <th>2</th>
      <td>67728.0</td>
      <td>210</td>
      <td>400</td>
    </tr>
    <tr>
      <th>Enyaq iV 80X</th>
      <td>54000.0</td>
      <td>160</td>
      <td>400</td>
    </tr>
  </tbody>
</table>