$base_font_size: 16px;
$base_line_height: 26px;
$font_heading: Inter;
$font_main: Inter;
$font_heading_weight: 700;
$font_main_weight: 400;
$retina: "(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)";

$thin:100;
$extralight:200;
$light:300;
$normal:400;
$medium:500;
$semibold:600;
$bold:700;
$extrabold:800;
$heavy:900;

$action_1: #ff991c;
$action_2: #e72b8c;
$action_3: #2e4eef;
$color_main: #2e2e2e;
$color_heading: #151515;
$color_white: #ffffff;
$color_gray: #EBEAED;
$bg_dark: #101010;
$bg_light: #ffffff;

$color_red: #EA3223;
$color_red_hover: #e10000;
$color_green: #18c967;
$color_green_hover: #0cb658;
$color_facebook: #2e4da7;
$color_twitter: #0aa0f5;
$color_dribbble: #E93A7D;
